<div class="row">
  <div class="medium-12 columns">
	<h1>Edit Public Site Content</h1>
  </div>
</div>
<div class="row">
  <div class="medium-8 columns">
	<%= simple_form_for(@video_section, :url => admin_video_section_path(@video_section), :html => {:multipart => true}) do |f| %>
		<%= render 'form', {:f => f} %>
	<% end %>
  </div>
</div>
