<div id="screen-developer" class="screen">
  <h1>Developers</h1>

  <ul>
	<li>
	  <hr>
	  <h3>World Wide Group</h3>

	  <p class="short">World Wide Group creates lasting value through the development of distinctive properties that contribute to the growth and enhancement of the neighborhoods in which they are located.</p>

	  <div class="long">
	  	<p>World Wide Group creates lasting value through the development of distinctive properties that contribute to the growth and enhancement of the neighborhoods in which they are located. Bringing great attention to every step of the process, the company begins by identifying appropriate opportunities and then engages in a thoughtful exploration of design, functionality, and sustainability. In partnership with select architects and designers, World Wide Group focuses on every detail to develop intelligently conceived buildings of exceptional aesthetic integrity.</p>
		<p>A multi-generational, privately held partnership led by Victor Elmaleh and Jim Stanton, World Wide Group is proud to be a steward of its long-standing reputation for quality and innovation. Since the 1970s, World Wide Group has developed over $7 billion of residential, commercial, and mixed-use properties throughout New York City.</p>
	  </div>
	  <span class="more-less">Read More</span>
	</li>

	<li>
	  <hr>
	  <h3>Rose Associates</h3>

	  <p class="short">Based in New York, Rose Associates is a developer, owner, and operator of prominent residential properties.</p>

	  <div class="long">
	  	 <p>Based in New York, Rose Associates is a developer, owner, and operator of prominent residential properties. The firm focuses on creating enduring, long-term relationships, making decisions based on years of successful ownership experience.  Rose’s emphasis on creating capital value has been the foundation of lasting associations with prominent financial institutions and real estate investors.</p>
		<p>As an equity partner, Rose offers full-service pre-development and development responsibility from the initial concept to the last finishing detail. The firm leverages skills in finance, planning, construction, project administration, marketing, and property management with the talents of innovative designers, consultants, and planners. Rose oversees more than 26,000 units across New York, with approximately $2 billion in projects under development.</p>
	  </div>
	  <span class="more-less">Read More</span>
	</li>
  </ul>

</div>