<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>252EastFiftySeven_email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
	  * {
		  -webkit-text-size-adjust: none;
		  -webkit-text-resize: 100%;
		  text-resize: 100%;
	  }
	  @media only screen and (max-width:500px) {
		  table[class="wrapper"]{min-width:320px !important;}
		  table[class="flexible"]{width:100% !important;}
	  }


  </style>
</head>
<body style="margin:0;padding:0;" bgcolor="#FFFFFF"link="#b2b4b7">
<table class="wrapper" width="100%" bgcolor="#67707a" cellspacing="0" cellpadding="0" >
  <tr>
	<td style="padding:46px 0 50px;">
	  <table class="flexible" width="480" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto !important;">
		<tr><td style="padding-top:30px; padding-bottom:76px;" align="center"><a href="#" target="_blank"><img src="http://252e57.com/email/images/logo.png" style="vertical-align:top;" alt="252EastFiftySeven" width="130" height="120" /></a></td></tr>

		<tr>
		  <td align="center" style="font:15px/22px Helvetica, Arial, sans-serif; color:#fff; letter-spacing:.75px;">
			Your inquiry regarding <a href="#" style="color: #fff; text-decoration: none; pointer-events: none;">252 East 57th Street</a> has been received, and we appreciate your interest.<br /><br />
			We look forward to speaking with you soon and inviting you to our Sales Gallery.<br /><br /><br /><br />
			Regards,<br />Pamela D’Arc
		  </td>
		</tr>
		<tr>
		  <td align="center" style="font:italic 12px/14px Helvetica, Arial, sans-serif; color:#fff; padding-bottom:93px; letter-spacing:.5px;">
			Director of Sales
		  </td>
		</tr>
		<tr>
		  <td align="center" style="font:12px/14px Helvetica, Arial, sans-serif; color:#b2b4b7;  padding-bottom:100px;">
			SALES GALLERY, <a href="#" style="color: #b2b4b7; text-decoration: none; pointer-events: none;">
			201 EAST 57TH STREET, NEW YORK, NY 10022</a>&nbsp;&nbsp;<br/> <br/>
			(212) 369-5757 &nbsp;&nbsp;
			<a style="font:12px/14px Helvetica, Arial, sans-serif; color:#b2b4b7;" href="">info@252E57.com</a>
		  </td>


		</tr>

	  </table>
	</td>
  </tr>
</table>
</body>
</html>