<div id="main-gallery">
  <div id="img1" class="image"></div>
  <div id="img2" class="image"></div>
  <div id="img3" class="image"></div>
  <div id="img4" class="image"></div>
  <div id="img5" class="image"></div>
  <div id="video-caption">
	<div id="video-caption-1" class="infocus" style="opacity:1;">
	  <h1>Architecture</h1>

	  <p>Graceful curved Italian glass gives the 65-story tower a sculptural silhouette from every vantage point</p>
	</div>
	<div id="video-caption-2">
	  <h1>Arrival</h1>

	  <p>Beautifully appointed reception rooms and a private gated porte cochère offer an elegant and exclusive arrival experience
	  </p>
	</div>
	<div id="video-caption-3">
	  <h1>Amenities</h1>

	  <p>A collection of distinctively designed amenities includes a 34th floor club, a 75-foot swimming pool and spa</p>
	</div>
	<div id="video-caption-4">
	  <h1>Residences</h1>

	  <p>Individually tailored floor plans, sumptuous materials and fine craftsmanship bring unique definition and flow to elegant living spaces</p>
	</div>
	<div id="video-caption-5">
	  <h1>Views</h1>

	  <p>The residences, which begin on the 36th floor, provide unique perspectives on Manhattan’s skyline, Central Park, and the East River</p>
	</div>
  </div>
  <ul id="main-gal-nav" class="gallery-nav">
	<li>
	  <a href="#" class="current"></a>
	</li>
	<li>
	  <a href="#"></a>
	</li>
	<li>
	  <a href="#"></a>
	</li>
	<li>
	  <a href="#"></a>
	</li>
	<li>
	  <a href="#"></a>
	</li>
  </ul>
  <!--<a id="film-link" class="bottom-link" href="http://player.vimeo.com/video/115590044" >View Film</a>-->
</div>
