<div id="section-footer" class="bar">
	<a target="_blank" class="copyright" href="/">Public Site</a>
  <!--<span class="copyright">252 EAST FIFTY SEVEN © 2014</span>-->
  <a target="_blank" class="privacypolicy" href="/legal">privacy policy</a>
  <a class="email" href="mailto:info@252e57.com">info@252e57.com</a>
</div>
