<div class="row">
  <div class="medium-12 columns">
	<h1>Creating Unit</h1>
  </div>
</div>
<div class="row">

  <div class="medium-8 columns">
	<%= simple_form_for(@floor_plan, :url => admin_floor_plans_path, :html => { :multipart => true }) do |f| %>
		<%= render 'form', {:f => f} %>
	<% end %>
  </div>
</div>
