<div id="screen-home">
  <img id="home-bg" src="<%= asset_path("home_bg_small.jpg") %>" />
  <div class="gallery-gradient-overlay"></div>
  <img id="home-logo" src="<%= asset_path("logo_large.png") %>" />
  <div id="home-caption">For the best possible experience when viewing this website, please use a desktop browser (Internet Explorer 9 and above, Firefox, Safari and Chrome).</div>

  <div id="home-welcome"><a href="mailto:info@252e57.com" class="bb_space">info@252e57.com</a> <span class="bb_space">(212) 369-5757</span></div>

</div>
<div id="orientation-message">
	<div class="orientation-text">To view our website,<br />please rotate your device vertically.</div>
</div>
