<div id="screen-home" class="disable">
  <img id="home-bg" src="<%= asset_path("home_bg.jpg") %>" />
  <div class="gallery-gradient-overlay"></div>
  <img id="home-logo" src="<%= asset_path("logo_large.png") %>" />
	<div id="site_preloader">FILM LOADING
<div id="fountainG">
<div id="fountainG_1" class="fountainG">
</div>
<div id="fountainG_2" class="fountainG">
</div>
<div id="fountainG_3" class="fountainG">
</div>
</div></div>
  <div id="home-caption"><p>Anchoring the eastern end of Manhattan&#39;s prestigious 57th Street, 252 was conceived by SOM and Daniel Romualdez to create an exceptional living experience</p></div>

  <div id="home-welcome" style="display: none">Enter</div>

</div>
