<div id="screen-thankyou" class="overlay-view">
	<div class="message-wrap">
		<span class="thankyou-message">Thank you for your interest in 252.<br />We will contact you shortly.</span>
	</div>
	<div class="back-to-video">
		<span><img src="<%= asset_path("back_arrow.png") %>"> Back <span class="to-film">to Film</span></span>
	</div>
</div>